openapi: 3.0.0
info:
  title: FP&A Tool - Dashboard Persistence API
  description: Essential API Specification for Phase 2A - Project and Dashboard Management
  version: 1.0.0
  contact:
    name: API Support

servers:
  - url: https://sandbox-api.saasquatchleads.com/api
    description: Production Server
  - url: http://localhost:3000/api
    description: Local Development Server

tags:
  - name: Projects
    description: Project management endpoints
  - name: Dashboards
    description: Dashboard management endpoints

paths:
  /project:
    post:
      tags:
        - Projects
      summary: Create Project
      description: Create a new project with initial upload data
      operationId: createProject
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectRequest'
      responses:
        '201':
          description: Project created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResponse'
        '400':
          description: Invalid request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - missing or invalid auth token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    get:
      tags:
        - Projects
      summary: List User Projects
      description: Get all projects belonging to the authenticated user
      operationId: listUserProjects
      parameters:
        - name: limit
          in: query
          description: Maximum number of projects to return
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 100
        - name: offset
          in: query
          description: Number of projects to skip for pagination
          schema:
            type: integer
            default: 0
            minimum: 0
      responses:
        '200':
          description: List of user projects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectListResponse'
        '401':
          description: Unauthorized - missing or invalid auth token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /projects/{project_id}:
    get:
      tags:
        - Projects
      summary: Get Project with Available KPIs
      description: Retrieve a specific project with all available KPIs
      operationId: getProject
      parameters:
        - name: project_id
          in: path
          required: true
          description: Unique project identifier
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Project details with available KPIs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectDetailResponse'
        '400':
          description: Invalid project_id format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - missing or invalid auth token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    put:
      tags:
        - Projects
      summary: Update Project
      description: Update project metadata (name, description, etc.)
      operationId: updateProject
      parameters:
        - name: project_id
          in: path
          required: true
          description: Unique project identifier
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProjectRequest'
      responses:
        '200':
          description: Project updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectUpdateResponse'
        '400':
          description: Invalid request body or project_id format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - missing or invalid auth token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    delete:
      tags:
        - Projects
      summary: Delete Project
      description: Permanently delete a project and all associated dashboards
      operationId: deleteProject
      parameters:
        - name: project_id
          in: path
          required: true
          description: Unique project identifier
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Project deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteProjectResponse'
        '400':
          description: Invalid project_id format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - missing or invalid auth token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /dashboards:
    post:
      tags:
        - Dashboards
      summary: Create Dashboard
      description: Create a new dashboard in a project using a template
      operationId: createDashboard
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDashboardRequest'
      responses:
        '201':
          description: Dashboard created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardResponse'
        '400':
          description: Invalid request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - missing or invalid auth token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /dashboards/{dashboard_id}:
    get:
      tags:
        - Dashboards
      summary: Get Dashboard with All Data
      description: Retrieve complete dashboard configuration including all KPIs and their data
      operationId: getDashboard
      parameters:
        - name: dashboard_id
          in: path
          required: true
          description: Unique dashboard identifier
          schema:
            type: string
      responses:
        '200':
          description: Complete dashboard data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardDetailResponse'
        '400':
          description: Invalid dashboard_id format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - missing or invalid auth token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Dashboard not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    put:
      tags:
        - Dashboards
      summary: Update Dashboard
      description: Update dashboard metadata, layout, and KPI configuration. Handles all updates in a single call.
      operationId: updateDashboard
      parameters:
        - name: dashboard_id
          in: path
          required: true
          description: Unique dashboard identifier
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDashboardRequest'
      responses:
        '200':
          description: Dashboard updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardUpdateResponse'
        '400':
          description: Invalid request body or dashboard_id format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - missing or invalid auth token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Dashboard not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    delete:
      tags:
        - Dashboards
      summary: Delete Dashboard
      description: Permanently delete a dashboard
      operationId: deleteDashboard
      parameters:
        - name: dashboard_id
          in: path
          required: true
          description: Unique dashboard identifier
          schema:
            type: string
      responses:
        '200':
          description: Dashboard deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteDashboardResponse'
        '400':
          description: Invalid dashboard_id format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - missing or invalid auth token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Dashboard not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /projects/{project_id}/dashboards:
    get:
      tags:
        - Dashboards
      summary: List Dashboards by Project
      description: Get all dashboards belonging to a specific project
      operationId: listProjectDashboards
      parameters:
        - name: project_id
          in: path
          required: true
          description: Unique project identifier
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          description: Maximum number of dashboards to return
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 100
        - name: offset
          in: query
          description: Number of dashboards to skip for pagination
          schema:
            type: integer
            default: 0
            minimum: 0
      responses:
        '200':
          description: List of dashboards in the project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardListResponse'
        '400':
          description: Invalid project_id format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - missing or invalid auth token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    # Request Schemas
    CreateProjectRequest:
      type: object
      required:
        - project_name
        - upload_id
      properties:
        project_name:
          type: string
          description: Name of the project
          example: Q4 2024 Financial Analysis
          minLength: 1
          maxLength: 255
        upload_id:
          type: string
          description: Reference to uploaded financial data file
          example: 789e0123-e45b-67c8-d901-234567890abc

    UpdateProjectRequest:
      type: object
      properties:
        project_name:
          type: string
          description: Updated project name
          example: Q4 2024 Financial Analysis - Updated
          minLength: 1
          maxLength: 255

    CreateDashboardRequest:
      type: object
      required:
        - project_id
        - dashboard_name
        - template_name
      properties:
        project_id:
          type: string
          format: uuid
          description: ID of the project this dashboard belongs to
          example: 550e8400-e29b-41d4-a716-446655440000
        dashboard_name:
          type: string
          description: Name of the dashboard
          example: Executive Summary Dashboard
          minLength: 1
          maxLength: 255
        template_name:
          type: string
          description: Template to use for dashboard layout
          example: Executive Template
          enum:
            - Executive Template
            - Financial Analysis Template
            - Sales Performance Template
            - Custom Template

    UpdateDashboardRequest:
      type: object
      properties:
        dashboard_name:
          type: string
          description: Updated dashboard name
          example: Executive Summary Dashboard - Q4
          minLength: 1
          maxLength: 255
        layout_config:
          type: object
          description: Dashboard layout configuration
          properties:
            grid_layout:
              type: string
              description: Grid layout configuration
              example: 3x2
            theme:
              type: string
              description: Dashboard theme
              example: dark
              enum:
                - light
                - dark
        kpis:
          type: array
          description: KPIs to display on the dashboard
          minItems: 1
          items:
            $ref: '#/components/schemas/DashboardKPIUpdate'

    DashboardKPIUpdate:
      type: object
      required:
        - kpi_id
        - display_order
        - chart_type
        - color_code
      properties:
        kpi_id:
          type: string
          description: ID of the KPI to add/update
          example: kpi-001
        display_order:
          type: integer
          description: Order of display on dashboard
          example: 1
          minimum: 1
        chart_type:
          type: string
          description: Type of chart to display
          example: line
          enum:
            - line
            - bar
            - pie
            - area
            - scatter
            - gauge
        color_code:
          type: string
          description: Hex color code for the KPI display
          example: 4CAF50
          pattern: '^[0-9A-Fa-f]{6}$'
        show_trend:
          type: boolean
          description: Whether to show trend indicators
          example: true
          default: false

    # Response Schemas
    ProjectResponse:
      type: object
      required:
        - project_id
        - user_id
        - upload_id
        - project_name
        - created_at
      properties:
        project_id:
          type: string
          format: uuid
          description: Unique project identifier
          example: 550e8400-e29b-41d4-a716-446655440000
        user_id:
          type: string
          format: uuid
          description: ID of the project owner
          example: 123e4567-e89b-12d3-a456-426614174000
        upload_id:
          type: string
          description: Reference to the uploaded data file
          example: 789e0123-e45b-67c8-d901-234567890abc
        project_name:
          type: string
          description: Name of the project
          example: Q4 2024 Financial Analysis
        created_at:
          type: string
          format: date-time
          description: Timestamp when project was created
          example: 2024-12-09T10:30:00Z

    ProjectListResponse:
      type: object
      required:
        - projects
      properties:
        projects:
          type: array
          items:
            $ref: '#/components/schemas/ProjectListItem'

    ProjectListItem:
      type: object
      required:
        - project_id
        - project_name
        - upload_id
        - dashboard_count
        - created_at
      properties:
        project_id:
          type: string
          format: uuid
          example: 550e8400-e29b-41d4-a716-446655440000
        project_name:
          type: string
          example: Q4 2024 Financial Analysis
        upload_id:
          type: string
          example: 789e0123-e45b-67c8-d901-234567890abc
        dashboard_count:
          type: integer
          description: Number of dashboards in this project
          example: 3
          minimum: 0
        created_at:
          type: string
          format: date-time
          example: 2024-12-09T10:30:00Z

    ProjectDetailResponse:
      type: object
      required:
        - project_id
        - project_name
        - upload_id
        - available_kpis
      properties:
        project_id:
          type: string
          format: uuid
          example: 550e8400-e29b-41d4-a716-446655440000
        project_name:
          type: string
          example: Q4 2024 Financial Analysis
        upload_id:
          type: string
          example: 789e0123-e45b-67c8-d901-234567890abc
        available_kpis:
          type: array
          items:
            $ref: '#/components/schemas/KPIInfo'

    ProjectUpdateResponse:
      type: object
      required:
        - project_id
        - project_name
        - updated_at
      properties:
        project_id:
          type: string
          format: uuid
          description: Unique project identifier
          example: 550e8400-e29b-41d4-a716-446655440000
        project_name:
          type: string
          description: Updated project name
          example: Q4 2024 Financial Analysis - Updated
        updated_at:
          type: string
          format: date-time
          description: Timestamp when project was updated
          example: 2024-12-09T15:45:00Z

    DeleteProjectResponse:
      type: object
      required:
        - project_id
        - deleted
      properties:
        project_id:
          type: string
          format: uuid
          description: Unique project identifier
          example: 550e8400-e29b-41d4-a716-446655440000
        deleted:
          type: boolean
          description: Confirmation that project was deleted
          example: true

    KPIInfo:
      type: object
      required:
        - kpi_id
        - kpi_name
        - category
      properties:
        kpi_id:
          type: string
          description: Unique KPI identifier
          example: kpi-001
        kpi_name:
          type: string
          description: Display name of the KPI
          example: Revenue Growth Rate
        category:
          type: string
          description: Category classification of the KPI
          example: Growth Metrics

    DashboardResponse:
      type: object
      required:
        - dashboard_id
        - project_id
        - dashboard_name
        - template_name
        - created_at
      properties:
        dashboard_id:
          type: string
          description: Unique dashboard identifier
          example: dash-550e8400-e29b-41d4-a716-446655440001
        project_id:
          type: string
          format: uuid
          example: 550e8400-e29b-41d4-a716-446655440000
        dashboard_name:
          type: string
          example: Executive Summary Dashboard
        template_name:
          type: string
          example: Executive Template
        created_at:
          type: string
          format: date-time
          example: 2024-12-09T10:35:00Z

    DashboardListResponse:
      type: object
      required:
        - dashboards
      properties:
        dashboards:
          type: array
          items:
            $ref: '#/components/schemas/DashboardListItem'

    DashboardListItem:
      type: object
      required:
        - dashboard_id
        - dashboard_name
        - template_name
        - kpi_count
        - created_at
      properties:
        dashboard_id:
          type: string
          example: dash-550e8400-e29b-41d4-a716-446655440001
        dashboard_name:
          type: string
          example: Executive Summary Dashboard
        template_name:
          type: string
          example: Executive Template
        kpi_count:
          type: integer
          description: Number of KPIs in this dashboard
          example: 6
          minimum: 0
        created_at:
          type: string
          format: date-time
          example: 2024-12-09T10:35:00Z

    DashboardDetailResponse:
      type: object
      required:
        - dashboard_id
        - project_id
        - dashboard_name
        - template_name
        - layout_config
        - kpis
      properties:
        dashboard_id:
          type: string
          example: dash-550e8400-e29b-41d4-a716-446655440001
        project_id:
          type: string
          format: uuid
          example: 550e8400-e29b-41d4-a716-446655440000
        dashboard_name:
          type: string
          example: Executive Summary Dashboard
        template_name:
          type: string
          example: Executive Template
        layout_config:
          type: object
          properties:
            grid_layout:
              type: string
              example: 2x3
            theme:
              type: string
              example: dark
        kpis:
          type: array
          items:
            $ref: '#/components/schemas/DashboardKPIDetail'

    DashboardKPIDetail:
      type: object
      required:
        - dashboard_kpi_id
        - kpi_id
        - kpi_name
        - display_order
        - chart_type
        - color_code
        - show_trend
        - kpi_data
      properties:
        dashboard_kpi_id:
          type: string
          description: Unique identifier for this KPI instance in the dashboard
          example: dkpi-001
        kpi_id:
          type: string
          example: kpi-001
        kpi_name:
          type: string
          example: Revenue Growth Rate
        display_order:
          type: integer
          example: 1
        chart_type:
          type: string
          example: line
          enum:
            - line
            - bar
            - pie
            - area
            - scatter
            - gauge
        color_code:
          type: string
          example: 4CAF50
        show_trend:
          type: boolean
          example: true
        kpi_data:
          type: object
          properties:
            calculated_values:
              type: array
              items:
                $ref: '#/components/schemas/KPIValue'

    KPIValue:
      type: object
      required:
        - period
        - value
        - unit
      properties:
        period:
          type: string
          description: Time period for the value
          example: 2024-Q1
        value:
          type: number
          description: Calculated KPI value
          example: 12.5
        unit:
          type: string
          description: Unit of measurement
          example: '%'

    DashboardUpdateResponse:
      type: object
      required:
        - dashboard_id
        - dashboard_name
        - layout_config
        - kpis
        - updated_at
      properties:
        dashboard_id:
          type: string
          example: dash-550e8400-e29b-41d4-a716-446655440001
        dashboard_name:
          type: string
          example: Executive Summary Dashboard - Q4
        layout_config:
          type: object
          properties:
            grid_layout:
              type: string
              example: 3x2
            theme:
              type: string
              example: dark
        kpis:
          type: array
          items:
            $ref: '#/components/schemas/DashboardKPIDetail'
        updated_at:
          type: string
          format: date-time
          example: 2024-12-09T14:30:00Z

    DeleteDashboardResponse:
      type: object
      required:
        - dashboard_id
        - deleted
      properties:
        dashboard_id:
          type: string
          example: dash-550e8400-e29b-41d4-a716-446655440001
        deleted:
          type: boolean
          description: Confirmation that dashboard was deleted
          example: true

    ErrorResponse:
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
          description: Error code identifier
          example: NOT_FOUND
        message:
          type: string
          description: Human-readable error message
          example: Project not found
        details:
          type: object
          description: Additional error details
          additionalProperties: true

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bearer token authentication using JWT

security:
  - BearerAuth: []
